.App {
  margin: auto;
  padding-inline: 30px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5a5858;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 50px;
}
.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  height: 100vh;
  align-items: center;
  margin: auto;
  width: 100%;
  justify-items: center;
}
.cards {
  width: 15rem;
  height: 30rem;
  /* background-color: #4388b0; */
  background-color: #a2a6b3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  color: aliceblue;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}
.cards:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 41px 1px rgba(0, 0, 0, 0.75);
}
.card-header {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img-top {
  width: 80%;
}
.card-body {
  flex: 2;
  font-size: small;
}
.card-footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card-footer .stock {
  color: black;
  font-size: 0.8rem;
  background-color: #d0d01e;
  padding: 1px 10px;
  border-radius: 50px;
}
.card-footer .btn {
  color: white;
  font-size: 1rem;
  background-color: #008522;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.card-footer .btn:hover {
  background-color: #00a82d;
  transition: all 0.3s ease-in-out;
}

.price {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  position: absolute;
  right: 10px;
}
.cartBtn {
  text-decoration: none;
  color: #545350;
  background-color: #ededed;
  padding: 4px 20px;
  border-radius: 30px;
  font-size: 1.5rem;
  margin-inline: 40px;
  display: flex;
  text-shadow: -3px 0px 8px rgba(84, 83, 80, 0.73);
  box-shadow: -10px 9px 26px -14px rgba(0, 0, 0, 0.75);
}

/* CART */
.shopingCart {
  max-height: 23rem;
  overflow-y: scroll;
}

.cartCard {
  width: 100%;
  height: 40rem;
  background-color: rgb(241, 241, 241);
  margin-top: 6rem;
  border-radius: 30px;
  display: flex;
  box-shadow: 0px 0px 107px -31px rgba(0, 0, 0, 1);
}
.left-side {
  flex: 2;
  margin-inline: 50px;
}
.left-side h1 {
  margin-top: 40px;
  margin-bottom: 80px;
}
.left-side img {
  width: 100px;
}
.left-side .productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 130px;
  align-items: center;
}
.right-side {
  flex: 1;
  background-color: #c7c9c8;
  border-radius: 30px;
}
.rightContainer {
  display: flex;
  padding-inline: 30px;
  padding-top: 100px;
  flex-direction: column;
  height: auto;
  height: 30rem;
  justify-content: space-between;
}
.orderDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.rightContainer .btn {
  background-color: #008522;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.rightContainer .btn:disabled {
  background-color: #003f10;
  color: white;
  cursor: not-allowed;
}
.rightContainer .discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rightContainer .calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
